body {
  margin: 0;
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  padding: 0;
}

img {
  display: block;
  /* height: 100%; */
}

.header-navigation {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header-logo {
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-right: 203px;
}

.header-nav-list {
  display: flex;
  gap: 40px;
  margin-right: 203px;
}

.header-list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #0c0c0c;
}

.header-list-link {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #0c0c0c;
  padding: 30px 0 40px;
  display: block;
}

.header-adress {
  font-style: normal;
  margin: 0;
}

.header-address-list {
  display: flex;
  gap: 10px;
  align-items: center;
}

.adress-link {
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-social {
  opacity: 0.8;
}
.container {
  padding: 0 15px;
  width: 1180px;
  margin: 0 auto;
}
.main-header .container {
  display: flex;
  align-items: center;
}

.hero {
  padding: 80px 0 50px;
}

.hero-title {
  font-weight: 600;
  font-size: 72px;
  line-height: 0.875;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 20px;
}

.hero-title-collection {
  color: #3350e9;
}

.hero-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 40px;
  max-width: 480px;
}

.hero-list {
  display: flex;
}

.hero-testimonials {
  max-width: 146px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-list-item:nth-child(2),
.hero-list-item:nth-child(3) {
  margin-left: -13px; /* або будь-який інший margin */
}
.hero-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
  margin-bottom: 40px;
}

.hero-link:hover,
.hero-link:focus {
  color: #3350e9;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.hero-text {
  max-width: 597px;
}

/* -------about use------ */

.about-us-container {
  display: flex;
  gap: 40px;
}

.view-catalog-wrap {
  background-color: #f3f3f3;
  border-radius: 50px;
  width: 580px;
  height: 532px;
  padding: 80px 60px;
}

.about-us {
  padding: 50px 0;
}

.about-us-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}

.about-us-title-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 20px;
}

.about-us-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 40px;
}

.about-us-link {
  border-radius: 16px;
  width: 160px;

  background-color: #3350e9;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #fbfbfb;
  padding: 15px 37px 15px 38px;
}

.about-us-link:hover,
.about-us-link:focus {
  background-color: #1f3cd4;
}

/* ---------catalog------- */

.catalog {
  padding: 50px 0;
}

.catalog-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 23px;
}

.catalog-item {
  width: calc((100% - 23px * 2) / 3);
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  padding: 24px 32px;
  background-color: #f3f3f3;
}

.catalog-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 8px;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.catalog-item-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}

/* ------advertisement----- */
.advertisement {
  padding: 50px 0;
}
.advertisement-container {
  border-radius: 30px;

  background-color: #0c0c0c;
  padding: 80px 83px;
  display: flex;
  justify-content: space-between;
}

.advertisement-text {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  max-width: 690px;
}

.story {
  color: rgba(251, 251, 251, 0.5);
}

.advertisement-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  width: 160px;
  padding: 15px 43px;
  width: 160px;
  height: 48px;
}

.advertisement-link:hover,
.advertisement-link:focus {
  color: #0c0c0c;
  background-color: #fbfbfb;
}

/* -------sale------ */

.section-sale {
  padding: 50px 0;
}

.sale-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}
.wrapper-sale {
  display: flex;
  gap: 20px;
}
.wrapper-sale-flex {
  display: flex;
  gap: 40px;
}

.sale-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.img-sale {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 50px;
  width: 428px;
  height: 558px;
  background-color: #f3f3f3;
  padding: 80px 50px;
}

.sale-list-item {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 20px;
  width: 132px;
  height: 132px;
  background-color: #f3f3f3;
  padding: 16px 18px;
}

.sale-text-div {
  border-radius: 50px;
  width: 530px;
  height: 558px;
  background-color: #3350e9;
  padding: 60px;
}

.title-sale-clock {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.125;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 10px;
}

.product-tag {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 20px;
}

.product-price-sale {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  padding: 8px 12px;
  border-radius: 8px;
  width: 78px;
  height: 32px;
  background-color: rgba(251, 251, 251, 0.1);
}

.product-price {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
}

.product-flex {
  display: flex;
  gap: 9px;
  align-items: center;
  margin-bottom: 30px;
}

.product-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 40px;
}

.product-sale-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.product-sale-item {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
}

.product-sale-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #fbfbfb;
}

/* ------reviews------- */

.section-reviews {
  padding: 50px 0;
}

.title-reviews {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}

.reviews-list {
  display: flex;
  gap: 20px;
  align-items: center;
}

.reviews-list-item {
  border-radius: 30px;
  padding: 32px 36px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reviews-member {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #0c0c0c;
  margin-bottom: 8px;
  margin-top: 24px;
}

.reviews-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(12, 12, 12, 0.4);
}

/* -------section-contact-us------ */

.section-contact-us {
  padding: 50px 0 100px 0;
}

.contact-use-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 32px;
}

.contact-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}
.contact-us-div {
  display: flex;
  gap: 40px;
}

.form-wrap {
  background-color: #f3f3f3;
  border-radius: 50px;

  padding: 50px 60px;
}

.input {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 16px 398px 16px 18px;
  width: 460px;
  height: 52px;
  margin-bottom: 18px;
  outline: none;
  transition: border-color 250ms ease-in-out;
}
.input:hover,
.textarea:hover {
  border-color: #3350e9;
}
.input::placeholder,
.textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #0c0c0c;
}

.textarea {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 16px 315px 54px 16px;
  width: 460px;
  height: 90px;
  resize: none;
  margin-bottom: 32px;
  outline: none;
  transition: border-color 250ms ease-in-out;
}

.form-button {
  border-radius: 16px;
  padding: 17px 63px;
  min-width: 160px;
  height: 52px;
  background-color: #3350e9;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  transition: background-color 250ms ease-in-out;
}
.form-button:hover,
.form-button:focus {
  background-color: #1f3cd4;
}

/* ---------footer------- */
.footer {
  border-radius: 30px;
  padding: 40px 40px 28px 40px;
  background-color: #0c0c0c;
}

.wrap-footer-logo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.footer-logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}

.footer-social-list {
  display: flex;
  gap: 10px;
}

.footer-social-item {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 36px;
  height: 36px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fbfbfb;
}

.footer-icon-social {
  fill: #fbfbfb;
}

.footer-text {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  max-width: 523px;

  position: absolute;

  left: 50%;
  transform: translateX(-50%);
}

.footer-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 16px;
  width: 160px;
  height: 48px;
  padding: 15px;
  position: absolute;
  right: 40px;
}

.footer-nav-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.footer-nav {
  display: flex;
  gap: 40px;
}

.footer-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
}

.footer-text-right {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #fbfbfb;
  max-width: 162px;
}

.footer-text-bottom {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: right;
  color: rgba(251, 251, 251, 0.5);
}

.wraper-div-foot {
  display: flex;
  margin-bottom: 126px;
}

.text-wrapper {
  display: flex;
  justify-content: space-between;
}

.text-wrap {
  display: flex;
  gap: 20px;
}
