body {
  margin: 0;
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  padding: 0;
}

img {
  display: block;
  height: 100%;
}
.main-header {
  padding: 0 65px;
}
.header-navigation {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header-logo {
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-right: 203px;
}

.header-nav-list {
  display: flex;
  gap: 40px;
  margin-right: 203px;
}

.header-list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #0c0c0c;
}

.header-list-link {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #0c0c0c;
  padding: 30px 0 40px;
  display: block;
}

.header-adress {
  font-style: normal;
  margin: 0;
}

.header-address-list {
  display: flex;
  gap: 10px;
  align-items: center;
}

.address-list-item {
}

.adress-link {
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0c0c0c;
}
.container {
  padding: 0 15px;
  width: 1180px;
}
.main-header .container {
  display: flex;
  align-items: center;
}

.hero {
  padding: 80px 65px 50px 65px;
}

.hero-title {
  font-weight: 600;
  font-size: 72px;
  line-height: 0.875;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 20px;
}

.hero-title-collection {
  color: #3350e9;
}

.hero-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 40px;
  max-width: 480px;
}

.hero-list {
  display: flex;
}

.hero-testimonials {
  max-width: 146px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-list-item {
}

.hero-list-item:nth-child(2),
.hero-list-item:nth-child(3) {
  margin-left: -13px; /* або будь-який інший margin */
}
.hero-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
  margin-bottom: 40px;
}

.hero-link:hover,
.hero-link:focus {
  color: #3350e9;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.hero-text {
  max-width: 597px;
}

/* -------about use------ */

.about-us-container {
  display: flex;
  gap: 40px;
}

.view-catalog-wrap {
  background-color: #f3f3f3;
  border-radius: 50px;
  width: 580px;
  height: 532px;
  padding: 80px 60px;
}

.about-us {
  padding: 50px 65px;
}

.about-us-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}

.about-us-title-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 20px;
}

.about-us-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 40px;
}

.about-us-link {
  border-radius: 16px;
  width: 160px;

  background-color: #3350e9;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #fbfbfb;
  padding: 15px 37px 15px 38px;
}

.about-us-link:hover,
.about-us-link:focus {
  background-color: #1f3cd4;
}

/* ---------catalog------- */

.catalog {
  padding: 50px 65px;
}

.catalog-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 23px;
}

.catalog-item {
  width: calc((100% - 23px * 2) / 3);
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  padding: 24px 32px;
  background-color: #f3f3f3;
}

.catalog-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 8px;
  margin-top: 10px;
}

.catalog-item-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}

/* ------advertisement----- */
.advertisement {
  padding: 50px 65px;
}
.advertisement-container {
  border-radius: 30px;

  background-color: #0c0c0c;
  padding: 80px 83px;
  display: flex;
  justify-content: space-between;
}

.advertisement-text {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  max-width: 690px;
}

.story {
  color: rgba(251, 251, 251, 0.5);
}

.advertisement-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  width: 160px;
  padding: 15px 43px;
  width: 160px;
  height: 48px;
}
