body {
  margin: 0;
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  padding: 0;
}

img {
  display: block;
  height: 100%;
}
.main-header {
}
.header-navigation {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header-logo {
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.header-nav-list {
}

.header-list-item {
}

.header-list-link {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #0c0c0c;
  /* padding: 30px 0 40px;
  display: block; */
}

.header-adress {
  font-style: normal;
  margin: 0;
}

.header-address-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.address-list-item {
}

.adress-link {
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0c0c0c;
}
.container {
  padding: 0 15px;
  width: 1180;
}
.main-header .container {
  display: flex;
  align-items: center;
}
