body {
  margin: 0;
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  padding: 0;
}

img {
  display: block;
  height: 100%;
}
.main-header {
  padding: 0 65px;
}
.header-navigation {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header-logo {
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-right: 203px;
}

.header-nav-list {
  display: flex;
  gap: 40px;
  margin-right: 203px;
}

.header-list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #0c0c0c;
}

.header-list-link {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #0c0c0c;
  padding: 30px 0 40px;
  display: block;
}

.header-adress {
  font-style: normal;
  margin: 0;
}

.header-address-list {
  display: flex;
  gap: 10px;
  align-items: center;
}

.address-list-item {
}

.adress-link {
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0c0c0c;
}
.container {
  padding: 0 15px;
  width: 1180px;
}
.main-header .container {
  display: flex;
  align-items: center;
}

.hero {
  padding: 80px 65px 0px;
}

.hero-title {
  font-weight: 600;
  font-size: 72px;
  line-height: 0.875;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 20px;
}

.hero-title-collection {
  color: #3350e9;
}

.hero-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 40px;
  max-width: 480px;
}

.hero-list {
  display: flex;
}

.hero-testimonials {
  max-width: 146px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-list-item {
}

.hero-list-item:nth-child(2),
.hero-list-item:nth-child(3) {
  margin-left: -13px; /* або будь-який інший margin */
}
.hero-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
  margin-bottom: 40px;
}

.hero-link:hover,
.hero-link:focus {
  color: #3350e9;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.hero-text {
  max-width: 597px;
}
